#udp2.py Server服务器端
#!/usr/bin/env python3
# coding: utf-8

import socket

s = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)

s.bind(('0.0.0.0',9999))
print('Wait for connecting...')

while True:
	data,addr = s.recvfrom(1024)		
	print('Received from %s:%s.' %addr)	
	str2 = str(data,encoding = 'utf-8')	
	print('I received a string is : ',str2)	
	str3 = str2.upper()			
	s.sendto(str3.encode('utf-8'),addr)	
